Repository ksv90/fsm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

.lintstagedrc:

{
  "*.ts": ["eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix .", "prettier --loglevel=error --write ."],
  "*.json": ["prettier --loglevel=error --write ."]
}

fix: pnpm version fixed
  package.json
Due: prettier --loglevel=error --write .

chore(main): release 0.0.1
  CHANGELOG.md
Due: none

fix: types fixed
  README-ru.md
  README.md
  src/__tests__/fsm-actions.spec.ts
  src/__tests__/fsm.spec.ts
  src/__tests__/fsm.test-d.ts
  src/fsm.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: pack moved to peer deps
  package.json
  pnpm-lock.yaml
  src/exemple.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: external field added to vite config
  vite.config.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: types renamed
  README-ru.md
  README.md
  src/__tests__/fsm-actions.spec.ts
  src/__tests__/fsm.bench.ts
  src/__tests__/fsm.spec.ts
  src/__tests__/fsm.test-d.ts
  src/constants.ts
  src/fsm.ts
  src/helpers.ts
  src/main.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: decorators pack version updated
  package.json
  pnpm-lock.yaml
Due: prettier --loglevel=error --write .

chore(main): release 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: readme file FSM renamed
  README-ru.md
  README.md
Due: none

description added
  package.json
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

feat: custom error added
  README-ru.md
  README.md
  package.json
  pnpm-lock.yaml
  src/__tests__/fsm-actions.spec.ts
  src/__tests__/fsm.bench.ts
  src/__tests__/fsm.spec.ts
  src/__tests__/fsm.test-d.ts
  src/constants.ts
  src/error.ts
  src/fsm.ts
  src/helpers.ts
  src/main.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

feat: tools added
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  commitlint.config.js
  eslint.config.js
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/__tests__/fn.bench.ts
  src/__tests__/fsm-actions.spec.ts
  src/__tests__/fsm.bench.ts
  src/__tests__/fsm.spec.ts
  src/__tests__/fsm.test-d.ts
  src/error.ts
  src/fsm.ts
  src/helpers.ts
  src/types.ts
  tsconfig.json
  tsconfig.lint.json
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: terget type changed
  src/__tests__/fsm-actions.spec.ts
  src/__tests__/fsm.spec.ts
  src/fsm.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.2.1
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

feat: async removed
  src/__tests__/fsm.spec.ts
  src/fsm.ts
  src/helpers.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: job data added
  src/fsm.ts
  src/types.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.3.1
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: not target
  src/constants.ts
  src/fsm.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --ext .ts --fix ., prettier --loglevel=error --write .

chore(main): release 0.3.2
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: publish in github
  .github/workflows/publish.yml
  package.json
Due: prettier --loglevel=error --write .

chore(main): release 0.3.3
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: permissions
  .github/workflows/publish.yml
Due: none

chore(main): release 0.3.4
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: test
  package.json
Due: prettier --loglevel=error --write .

chore(main): release 0.3.5
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: remove permissions
  .github/workflows/publish.yml
Due: none

chore(main): release 0.3.6
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .

fix: envs added
  .github/workflows/publish.yml
Due: none

chore(main): release 0.3.7
  CHANGELOG.md
  package.json
Due: prettier --loglevel=error --write .
